body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    /* border: 1px solid black; */
    padding: 30px;
    box-shadow: 0px 0px 10px rgb(122, 122, 122);
    border-radius: 5px;
}
label{
    /* font-size: clamp(16px,29px,38px); */
    font-size: 20px;
}
input{
    padding: 8px 5px;
    border-radius: 5px;
    margin: 10px 0px;
    border: 1px solid black;
}

input[type=submit]{
    background-color:  black;
    color: white;
    width: 100%;
}

span{
    /* border: 1px solid black; */
    padding: 20px;
    box-shadow: 0px 0px 20px  green;
    border-radius: 10px;
   
}